#!/bin/bash -x

# Send output to log file and serial console
mkdir -p  /var/log/cloud /config/cloud /var/config/rest/downloads
LOG_FILE=/var/log/cloud/startup-script.log
[[ ! -f $LOG_FILE ]] && touch $LOG_FILE || { echo "Run Only Once. Exiting"; exit; }
npipe=/tmp/$$.tmp
trap "rm -f $npipe" EXIT
mknod $npipe p
tee <$npipe -a $LOG_FILE /dev/ttyS0 &
exec 1>&-
exec 1>$npipe
exec 2>&1

# Run Immediately Before MCPD starts
/usr/bin/setdb provision.extramb 1000
#/usr/bin/setdb restjavad.useextramb true

# # create user
#tmsh create auth user ${bigip_username} password ${bigip_password} shell tmsh partition-access replace-all-with { all-partitions { role admin } }

# save config
#tmsh save sys config

#mkdir -p /config/cloud

cat << 'EOF' > /config/cloud/runtime-init-conf.yaml
---
controls:
  logLevel: silly
  logFilename: /var/log/cloud/bigIpRuntimeInit.log
  extensionInstallDelayInMs: 60000
runtime_parameters:
  - name: HOST_NAME
    type: metadata
    metadataProvider:
      environment: aws
      type: compute
      field: hostname
  - name: USER_NAME
    type: static
    value: ${bigip_username}
  - name: SSH_KEYS
    type: static
    value: "${ssh_keypair}"
  - name: STUDENT_ID
    type: static
    value: ${student}
  - name: STUDENT_IP
    type: static
    value: ${student_ip}
  - name: MGMT_IP
    type: static
    value: ${mgmtip}
  - name: EXTERNAL_IP
    type: static
    value: ${externalip}
  - name: PROD_IP1
    type: static
    value: ${pIP_1}
  - name: PROD_IP2
    type: static
    value: ${pIP_2}
  - name: PROD_IP3
    type: static
    value: ${pIP_3}
  - name: PROD_IP4
    type: static
    value: ${pIP_4}
  - name: INTERNAL_IP
    type: static
    value: ${internalip}
EOF

if ${aws_secretmanager_auth}
then
   cat << 'EOF' >> /config/cloud/runtime-init-conf.yaml
  - name: ADMIN_PASS
    type: secret
    secretProvider:
      environment: aws
      type: SecretsManager
      version: AWSCURRENT
      secretId: ${bigip_password}
EOF
else
   cat << 'EOF' >> /config/cloud/runtime-init-conf.yaml
  - name: ADMIN_PASS
    type: static
    value: ${bigip_password}
EOF
fi

# Add remaining runtime_parameters:
cat << 'EOF' >> /config/cloud/runtime-init-conf.yaml
pre_onboard_enabled: []
extension_packages:
  install_operations:
    - extensionType: do
      extensionVersion: ${DO_VER}
      extensionUrl: ${DO_URL}
    - extensionType: as3
      extensionVersion: ${AS3_VER}
      extensionUrl: ${AS3_URL}
    - extensionType: ts
      extensionVersion: ${TS_VER}
      extensionUrl: ${TS_URL}
    - extensionType: cf
      extensionVersion: ${CFE_VER}
      extensionUrl: ${CFE_URL}
extension_services:
  service_operations:
    - extensionType: do
      type: inline
      value:
        schemaVersion: 1.0.0
        class: Device
        async: true
        label: Standalone 3NIC BIG-IP declaration for DO with PAYG
        Common: 
          class: Tenant
          dbVars:
            class: DbVariables
            provision.extramb: 1000
            ui.advisory.enabled: true
            ui.advisory.color: blue
            ui.advisory.text: "BIG-IP 1-NIC Terraform PAYG-25"
            #config.allow.rfc3927: enable
          mySystem:
            autoPhonehome: true
            class: System
            hostname: '{{{HOST_NAME}}}.local'
          admin:
            class: User
            userType: regular
            password: '{{{ADMIN_PASS}}}'
            shell: bash
          prometheus:
            class: User
            userType: regular
            password: ***REMOVED***
            shell: none
            partitionAccess:
              all-partitions:
                role: admin
          myProvisioning:
            class: Provision
            ltm: nominal
            asm: nominal
            apm: nominal
          myNtp:
            class: NTP
            servers:
              - pool.ntp.org
            timezone: Europe/Amsterdam
          myDNS:
            class: DNS
            nameServers:
              - 10.0.0.2
              - 172.16.0.2
              - 8.8.8.8
          myRouteDomain:
            class: RouteDomain
            id: 0
            routingProtocols:
              - BGP
          external:
            class: VLAN
            tag: 4093
            mtu: 1500
            interfaces:
            - name: '1.1'
              tagged: false
            cmpHash: dst-ip
          external-self:
            class: SelfIp
            address: '{{{EXTERNAL_IP}}}/24'
            vlan: "external"
            allowService: none
            trafficGroup: traffic-group-local-only
          internal:
            class: VLAN
            tag: 4094
            mtu: 1500
            interfaces:
            - name: '1.2'
              tagged: false
            cmpHash: dst-ip
          internal-self:
            class: SelfIp
            address: '{{{INTERNAL_IP}}}/24'
            vlan: "internal"
            allowService: none
            trafficGroup: traffic-group-local-only
    - extensionType: as3
      type: inline
      value:
        schemaVersion: 3.0.0
        class: ADC
        remark: iRules
        label: iRules
        Common:
          class: Tenant
          Shared:
            class: Application
            template: shared
            fqdn_ubuntu_aws:
              class: Address_Discovery
              addressDiscovery: fqdn
              shareNodes: true
              autoPopulate: true
              hostname: web.de1chk1nd-mcn.aws
            p_web_80:
              class: Pool
              monitors:
                - http
              members:
                - servicePort: 80
                  addressDiscovery:
                    use: fqdn_ubuntu_aws                    
            p_echo_10080_http:
              class: Pool
              monitors:
                - http
              members:
                - servicePort: 10080
                  addressDiscovery:
                    use: fqdn_ubuntu_aws   
            p_echo_10443_https:
              class: Pool
              monitors:
                - https
              members:
                - servicePort: 10443
                  addressDiscovery:
                    use: fqdn_ubuntu_aws   
            Proxy_Protocol_iRule:
              remark: Proxy Protocoll iRule
              class: iRule
              iRule: |-
                when SERVER_CONNECTED { TCP::respond "PROXY TCP[IP::version] [IP::client_addr] [clientside {IP::local_addr}] [TCP::client_port] [clientside {TCP::local_port}]\r\n" }
        aws_web_in:
          class: Tenant
          A1:
            class: Application
            vs-webserver-443:
              class: Service_HTTPS
              virtualAddresses:
                  -
                      - '{{{PROD_IP1}}}'
                      - 0.0.0.0/0
              serverTLS:
                  -
                      bigip: /Common/clientssl
              pool:
                use: /Common/Shared/p_web_80
              iRules:
                  - HTTP_Response
            vs-echo-443:
              class: Service_HTTPS
              virtualAddresses:
                  -
                      - '{{{PROD_IP2}}}'
                      - 0.0.0.0/0
              serverTLS:
                  -
                      bigip: /Common/clientssl
              pool:
                use: /Common/Shared/p_echo_10080_http
              iRules:
                  - HTTP_Response
            vs-echo-443_TLSpass:
              class: Service_HTTPS
              virtualAddresses:
                  -
                      - '{{{PROD_IP3}}}'
                      - 0.0.0.0/0
              clientTLS:
                  -
                      bigip: /Common/serverssl
              serverTLS:
                  -
                      bigip: /Common/clientssl
              pool:
                use: /Common/Shared/p_echo_10443_https
              iRules:
                  - HTTP_Response

            vs-iRule-routung-443:
              class: Service_HTTPS
              virtualAddresses:
                  -
                      - '{{{PROD_IP4}}}'
                      - 0.0.0.0/0
              clientTLS:
                  -
                      bigip: /Common/serverssl
              serverTLS:
                  -
                      bigip: /Common/clientssl
              iRules:
                  - HTTP_Response
                  - Host_Routing_iRule
            HTTP_Response:
              remark: HTTP Response iRule
              class: iRule
              iRule: |-
                when HTTP_RESPONSE { if { [HTTP::header is_redirect] } { if { [string tolower [HTTP::header Location]] starts_with "http://" }{	HTTP::header replace Location [string map -nocase { "http://" "https://" } [HTTP::header Location]]	HTTP::header replace Location [string map -nocase { ":8080" ":443" } [HTTP::header Location]]	log local0. "rewrite to: [HTTP::header Location]"	}	} }
            Host_Routing_iRule:
              remark: Route HTTP Requests
              class: iRule
              iRule: |-
                when HTTP_REQUEST {
                  switch -glob [HTTP::host] {
                    bigip-web.de1chk1nd-lab.aws { 
                      pool /Common/Shared/p_web_80
                      SSL::disable serverside
                    }
                    bigip-echo.de1chk1nd-lab.aws { 
                      pool /Common/Shared/p_echo_10080_http
                      SSL::disable serverside
                    }
                    bigip-echo-ssl.de1chk1nd-lab.aws {
                      pool /Common/Shared/p_echo_10443_https
                    }
                    default {
                      drop
                    }
                  }
                }
post_onboard_enabled: []
bigip_ready_enabled:
  - name: tmsh_add_partition
    type: inline
    commands:
      - tmsh create /auth partition kubernetes
EOF

# # Download
#PACKAGE_URL='https://cdn.f5.com/product/cloudsolutions/f5-bigip-runtime-init/v1.1.0/dist/f5-bigip-runtime-init-1.1.0-1.gz.run'
#PACKAGE_URL='https://cdn.f5.com/product/cloudsolutions/f5-bigip-runtime-init/v1.2.0/dist/f5-bigip-runtime-init-1.2.0-1.gz.run'
#PACKAGE_URL='https://cdn.f5.com/product/cloudsolutions/f5-bigip-runtime-init/v1.3.0/dist/f5-bigip-runtime-init-1.3.0-1.gz.run'
for i in {1..30}; do
    curl -fv --retry 1 --connect-timeout 5 -L ${INIT_URL} -o "/var/config/rest/downloads/f5-bigip-runtime-init.gz.run" && break || sleep 10
done
# Install
bash /var/config/rest/downloads/f5-bigip-runtime-init.gz.run -- '--cloud aws'
# Run
# export F5_BIGIP_RUNTIME_INIT_LOG_LEVEL=silly
f5-bigip-runtime-init --config-file /config/cloud/runtime-init-conf.yaml