Current configuration:
!
frr version 10.2.1
frr defaults traditional
hostname de1chcl1ent
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
router bgp 65001
 bgp router-id 192.168.178.123
 neighbor 192.168.178.127 remote-as 65002
 !
 address-family ipv4 unicast
  neighbor 192.168.178.127 route-map peer-routes in
 exit-address-family
exit
!
route-map peer-routes permit 1
exit
!
end
